<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject</div>
<span style="">MicroProject: Exploring COVID-19 Data from GitHub</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/covid-data-from-github/">https://discovery.cs.illinois.edu/microproject/covid-data-from-github/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: COVID-19 Case Data from Johns Hopkins University, via GitHub

Since before COVID-19 was detected in the United States, the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University provided daily updates of COVID-19 case data as clean, structured CSV files on GitHub as a free public service to the world.  They continued this free, public service for over three years until March 10, 2023.

You can view the archive of their COVID-19 GitHub repository here: [https://github.com/CSSEGISandData/COVID-19](https://github.com/CSSEGISandData/COVID-19).  Explore their daily reports by navigating into their repository:

- Click **csse_covid_19_data** to navigate into the `csse_covid_19_data` folder,
- Navigate into `csse_covid_19_daily_reports`,
- Find the CSV data for **Jan. 3, 2022** *(it'll be near the top, be careful to get the correct year)*
- Click the **Raw** button to above the file contents to navigate to the raw CSV version of the file (without the GitHub interface)
- Use the URL of the **raw data as your dataset** for this MicroProject.

Use panda's `read_csv` function to read the dataset you found and create a DataFrame called `df`:

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-03-2022.csv")
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2022-01-04 04:22:17,33.93911,67.709953,158183,7364,NaN,NaN,Afghanistan,406.344057,4.655368
1,NaN,NaN,NaN,Albania,2022-01-04 04:22:17,41.15330,20.168300,210885,3220,NaN,NaN,Albania,7327.993606,1.526899
2,NaN,NaN,NaN,Algeria,2022-01-04 04:22:17,28.03390,1.659600,219532,6298,NaN,NaN,Algeria,500.631194,2.868830
3,NaN,NaN,NaN,Andorra,2022-01-04 04:22:17,42.50630,1.521800,24502,140,NaN,NaN,Andorra,31711.641752,0.571382
4,NaN,NaN,NaN,Angola,2022-01-04 04:22:17,-11.20270,17.873900,83764,1775,NaN,NaN,Angola,254.863132,2.119049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,NaN,NaN,Unknown,Ukraine,2022-01-04 04:22:17,NaN,NaN,0,0,0.0,0.0,"Unknown, Ukraine",0.000000,0.000000
4012,NaN,NaN,NaN,Nauru,2022-01-04 04:22:17,-0.52280,166.931500,0,0,0.0,0.0,Nauru,0.000000,0.000000
4013,NaN,NaN,Niue,New Zealand,2022-01-04 04:22:17,-19.05440,-169.867200,0,0,0.0,0.0,"Niue, New Zealand",0.000000,0.000000
4014,NaN,NaN,NaN,Tuvalu,2022-01-04 04:22:17,-7.10950,177.649300,0,0,0.0,0.0,Tuvalu,0.000000,0.000000
4015,NaN,NaN,Pitcairn Islands,United Kingdom,2022-01-04 04:22:17,-24.37680,-128.324200,0,0,0.0,0.0,"Pitcairn Islands, United Kingdom",0.000000,0.000000

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [3]:
### TEST CASE for Data Import
tada = "\N{PARTY POPPER}"

assert("df" in vars())
assert("Country_Region" in df)
assert("People_Hospitalized" not in df), "Make sure you have the global daily reports, not just the US daily reports."
assert("India" in df["Country_Region"].unique())
assert("2022-01-04" in df["Last_Update"].unique()[0]), "Make sure you have the Jan. 3, 2022 CSV file."
print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Country-Level Analysis of COVID-19

The CSV file from JHU provides the **total reported cases over all time until the end of the day on Jan. 3, 2022**.  However, the data often breaks countries into individual regions.  For example, let's check out the United States.  Create a DataFrame with all records from the dataset with data about the United States in the variable `df_us`:

In [4]:
df_us = df[df["Country_Region"] == "US"]
df_us

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
673,1001.0,Autauga,Alabama,US,2022-01-04 04:22:17,32.539527,-86.644082,11256,160,NaN,NaN,"Autauga, Alabama, US",20147.129893,1.421464
674,1003.0,Baldwin,Alabama,US,2022-01-04 04:22:17,30.727750,-87.722071,40549,593,NaN,NaN,"Baldwin, Alabama, US",18164.347725,1.462428
675,1005.0,Barbour,Alabama,US,2022-01-04 04:22:17,31.868263,-85.387129,3961,81,NaN,NaN,"Barbour, Alabama, US",16045.531880,2.044938
676,1007.0,Bibb,Alabama,US,2022-01-04 04:22:17,32.996421,-87.125115,4594,95,NaN,NaN,"Bibb, Alabama, US",20514.423506,2.067915
677,1009.0,Blount,Alabama,US,2022-01-04 04:22:17,33.982109,-86.567906,11368,198,NaN,NaN,"Blount, Alabama, US",19658.976931,1.741731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3947,56039.0,Teton,Wyoming,US,2022-01-04 04:22:17,43.935225,-110.589080,6273,14,NaN,NaN,"Teton, Wyoming, US",26734.572110,0.223179
3948,56041.0,Uinta,Wyoming,US,2022-01-04 04:22:17,41.287818,-110.547578,4173,31,NaN,NaN,"Uinta, Wyoming, US",20631.859982,0.742871
3949,90056.0,Unassigned,Wyoming,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wyoming, US",NaN,NaN
3950,56043.0,Washakie,Wyoming,US,2022-01-04 04:22:17,43.904516,-107.680187,1886,37,NaN,NaN,"Washakie, Wyoming, US",24163.997438,1.961824
3951,56045.0,Weston,Wyoming,US,2022-01-04 04:22:17,43.839612,-104.567488,1257,14,NaN,NaN,"Weston, Wyoming, US",18146.383716,1.113763

### Analysis of COVID-19 in the United States

Create a new DataFrame, `df_us_sorted`, that sorts the DataFrame based on the number of confirmed cases of COVID-19 in the United States, where the **first row contains the location with the highest number of confirmed cases**:

In [5]:
df_us_sorted = df_us.groupby("Province_State").agg("sum").reset_index()
df_us_sorted.sort_values(by="Confirmed", ascending=False)
df_us_sorted

,Province_State,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Alabama,241491.0,AutaugaBaldwinBarbourBibbBlountBullockButlerCa...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2203.246784,-5809.578199,913603,16455,0.0,0.0,"Autauga, Alabama, USBaldwin, Alabama, USBarbou...",1.227049e+06,146.138272
1,Alaska,154366.0,Aleutians EastAleutians WestAnchorageBethelBri...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,1810.439952,-4470.218368,160089,979,0.0,0.0,"Aleutians East, Alaska, USAleutians West, Alas...",5.482503e+05,15.036896
2,American Samoa,60.0,0,US,2022-01-04 04:22:17,-14.271000,-170.132000,11,0,0.0,0.0,"American Samoa, US",1.797236e+01,0.000000
3,Arizona,230216.0,ApacheCochiseCoconinoGilaGrahamGreenleeLa PazM...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,505.138555,-1671.948482,1404601,24355,0.0,0.0,"Apache, Arizona, USCochise, Arizona, USCoconin...",2.969747e+05,33.429040
4,Arkansas,470630.0,ArkansasAshleyBaxterBentonBooneBradleyCalhounC...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2618.391704,-6932.548370,574572,9221,0.0,0.0,"Arkansas, Arkansas, USAshley, Arkansas, USBaxt...",1.421224e+06,148.728195
5,California,521376.0,AlamedaAlpineAmadorButteCalaverasColusaContra ...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2194.949775,-7002.258461,5707212,76469,0.0,0.0,"Alameda, California, USAlpine, California, USA...",7.691524e+05,65.787011
6,Colorado,685999.0,AdamsAlamosaArapahoeArchuletaBacaBentBoulderBr...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2491.870366,-6751.119357,1038681,10921,0.0,0.0,"Adams, Colorado, USAlamosa, Colorado, USArapah...",1.081128e+06,87.504955
7,Connecticut,162073.0,FairfieldHartfordLitchfieldMiddlesexNew HavenN...,USUSUSUSUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,332.909441,-581.254637,533866,9210,0.0,0.0,"Fairfield, Connecticut, USHartford, Connecticu...",1.113267e+05,13.379777
8,Delaware,120019.0,KentNew CastleSussexUnassigned,USUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,117.327830,-226.599712,189382,2286,0.0,0.0,"Kent, Delaware, USNew Castle, Delaware, USSuss...",5.832301e+04,3.919849
9,Diamond Princess,88888.0,0,US,2020-08-04 02:27:56,0.000000,0.000000,49,0,0.0,0.0,"Diamond Princess, US",0.000000e+00,0.000000
10,District of Columbia,11001.0,District of Columbia,US,2022-01-04 04:22:17,38.904178,-77.016560,103487,1218,0.0,0.0,"District of Columbia, District of Columbia ,US",1.466343e+04,1.176959
11,Florida,898562.0,AlachuaBakerBayBradfordBrevardBrowardCalhounCh...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,1939.030577,-5540.949842,4209927,62504,0.0,0.0,"Alachua, Florida, USBaker, Florida, USBay, Flo...",1.233186e+06,933.978010
12,Georgia,2262703.0,ApplingAtkinsonBaconBakerBaldwinBanksBarrowBar...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,5216.556611,-13288.811358,1839879,31443,0.0,0.0,"Appling, Georgia, USAtkinson, Georgia, USBacon...",2.737842e+06,396.749662
13,Grand Princess,99999.0,0,US,2020-08-04 02:27:56,0.000000,0.000000,103,3,0.0,0.0,"Grand Princess, US",0.000000e+00,2.912621
14,Guam,66.0,0,US,2022-01-04 04:22:17,13.444300,144.793700,19689,273,0.0,0.0,"Guam, US",1.198875e+04,1.386561
15,Hawaii,230050.0,HawaiiHonoluluKauaiMauiOut of HIUnassigned,USUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,83.962590,-629.657823,121864,1094,0.0,0.0,"Hawaii, Hawaii, USHonolulu, Hawaii, USKauai, H...",2.969801e+04,3.562066
16,Idaho,795952.0,AdaAdamsBannockBear LakeBenewahBinghamBlaineBo...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,1947.589655,-5036.245496,320802,4169,0.0,0.0,"Ada, Idaho, USAdams, Idaho, USBannock, Idaho, ...",6.964333e+05,69.303317
17,Illinois,1914438.0,AdamsAlexanderBondBooneBrownBureauCalhounCarro...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,4064.049006,-9096.189667,2238762,31194,0.0,0.0,"Adams, Illinois, USAlexander, Illinois, USBond...",2.035190e+06,1333.540333
18,Indiana,1754482.0,AdamsAllenBartholomewBentonBlackfordBooneBrown...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,3665.036491,-7932.108297,1278285,19084,0.0,0.0,"Adams, Indiana, USAllen, Indiana, USBartholome...",1.783648e+06,145.622491
19,Iowa,1980820.0,AdairAdamsAllamakeeAppanooseAudubonBentonBlack...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,4160.961092,-9253.086423,575501,7858,0.0,0.0,"Adair, Iowa, USAdams, Iowa, USAllamakee, Iowa,...",1.819158e+06,174.924548
20,Kansas,2281065.0,AllenAndersonAtchisonBarberBartonBourbonBrownB...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,4040.964784,-10298.877911,534219,7049,0.0,0.0,"Allen, Kansas, USAnderson, Kansas, USAtchison,...",2.079506e+06,174.567767
21,Kentucky,2624421.0,AdairAllenAndersonBallardBarrenBathBellBooneBo...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,4514.657262,-10223.986874,879057,12234,0.0,0.0,"Adair, Kentucky, USAllen, Kentucky, USAnderson...",2.425947e+06,198.874337
22,Louisiana,1582140.0,AcadiaAllenAscensionAssumptionAvoyellesBeaureg...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,1989.915353,-5876.747946,859856,15001,0.0,0.0,"Acadia, Louisiana, USAllen, Louisiana, USAscen...",1.209532e+06,126.984342
23,Maine,538302.0,AndroscogginAroostookCumberlandFranklinHancock...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,715.003015,-1112.380298,146736,1531,0.0,0.0,"Androscoggin, Maine, USAroostook, Maine, USCum...",1.709185e+05,16.745518
24,Maryland,667103.0,AlleganyAnne ArundelBaltimoreBaltimore CityCal...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,936.358097,-1840.211223,761924,11896,0.0,0.0,"Allegany, Maryland, USAnne Arundel, Maryland, ...",3.037821e+05,79.464270
25,Massachusetts,390195.0,BarnstableBerkshireBristolDukes and NantucketE...,USUSUSUSUSUSUSUSUSUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,548.293200,-930.501649,1173704,16744,0.0,0.0,"Barnstable, Massachusetts, USBerkshire, Massac...",1.925458e+05,24.321521
26,Michigan,2334941.0,AlconaAlgerAlleganAlpenaAntrimArenacBaragaBarr...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,3655.620467,-7070.080729,1775882,29343,0.0,0.0,"Alcona, Michigan, USAlger, Michigan, USAllegan...",1.385396e+06,158.272292
27,Minnesota,2446596.0,AitkinAnokaBeckerBeltramiBentonBig StoneBlue E...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,3963.025129,-8215.492913,1028986,10704,0.0,0.0,"Aitkin, Minnesota, USAnoka, Minnesota, USBecke...",1.679798e+06,120.746807
28,Mississippi,2392752.0,AdamsAlcornAmiteAttalaBentonBolivarCalhounCarr...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2689.003578,-7350.949516,561262,10455,0.0,0.0,"Adams, Mississippi, USAlcorn, Mississippi, USA...",1.573186e+06,176.892412
29,Missouri,3438566.0,AdairAndrewAtchisonAudrainBarryBartonBatesBent...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,4460.984726,-10729.940479,1021433,16237,0.0,0.0,"Adair, Missouri, USAndrew, Missouri, USAtchiso...",1.949194e+06,221.511762
30,Montana,1773166.0,BeaverheadBig HornBlaineBroadwaterCarbonCarter...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2630.582703,-6143.222113,198520,2908,0.0,0.0,"Beaverhead, Montana, USBig Horn, Montana, USBl...",9.675000e+05,113.878967
31,Nebraska,2981680.0,AdamsAntelopeArthurBannerBlaineBooneBox ButteB...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,3842.926930,-9210.628137,344392,3338,0.0,0.0,"Adams, Nebraska, USAntelope, Nebraska, USArthu...",1.447039e+06,120.840847
32,Nevada,634806.0,Carson CityChurchillClarkDouglasElkoEsmeraldaE...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,667.351945,-1998.587890,497084,8427,0.0,0.0,"Carson City, Nevada, USChurchill, Nevada, USCl...",2.309240e+05,32.310316
33,New Hampshire,420133.0,BelknapCarrollCheshireCoosGraftonHillsboroughM...,USUSUSUSUSUSUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,434.789729,-715.776567,203749,1973,0.0,0.0,"Belknap, New Hampshire, USCarroll, New Hampshi...",1.413203e+05,10.194662
34,New Jersey,804475.0,AtlanticBergenBurlingtonCamdenCape MayCumberla...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,846.015259,-1567.071444,1644839,29073,0.0,0.0,"Atlantic, New Jersey, USBergen, New Jersey, US...",3.782416e+05,35.988351
35,New Mexico,1246030.0,BernalilloCatronChavesCibolaColfaxCurryDe Baca...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,1140.128846,-3494.274545,357480,5866,0.0,0.0,"Bernalillo, New Mexico, USCatron, New Mexico, ...",5.391196e+05,70.510945
36,New York,2405916.0,AlbanyAlleganyBronxBroomeCattaraugusCayugaChau...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2637.737383,-4679.399365,3684152,59760,0.0,0.0,"Albany, New York, USAllegany, New York, USBron...",9.810061e+05,78.397932
37,North Carolina,3800037.0,AlamanceAlexanderAlleghanyAnsonAsheAveryBeaufo...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,3562.420971,-7950.109874,1732568,19457,0.0,0.0,"Alamance, North Carolina, USAlexander, North C...",1.670706e+06,137.425362
38,North Dakota,2106847.0,AdamsBarnesBensonBillingsBottineauBowmanBurkeB...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2511.855857,-5313.217852,176051,2057,0.0,0.0,"Adams, North Dakota, USBarnes, North Dakota, U...",1.101680e+06,84.089865
39,Northern Mariana Islands,69.0,0,US,2022-01-04 04:22:17,15.097900,145.673900,3297,17,0.0,0.0,"Northern Mariana Islands, US",5.978892e+03,0.515620
40,Ohio,3529783.0,AdamsAllenAshlandAshtabulaAthensAuglaizeBelmon...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,3547.338944,-7289.515905,2072663,32293,0.0,0.0,"Adams, Ohio, USAllen, Ohio, USAshland, Ohio, U...",1.583497e+06,147.027402
41,Oklahoma,3256009.0,AdairAlfalfaAtokaBeaverBeckhamBlaineBryanCaddo...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2733.647411,-7488.357767,716851,12503,0.0,0.0,"Adair, Oklahoma, USAlfalfa, Oklahoma, USAtoka,...",1.388335e+06,146.698482
42,Oregon,1567337.0,BakerBentonClackamasClatsopColumbiaCoosCrookCu...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,1601.726424,-4373.169106,430931,5666,0.0,0.0,"Baker, Oregon, USBenton, Oregon, USClackamas, ...",4.357884e+05,55.095114
43,Pennsylvania,2908531.0,AdamsAlleghenyArmstrongBeaverBedfordBerksBlair...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2734.811250,-5200.226295,2101019,36799,0.0,0.0,"Adams, Pennsylvania, USAllegheny, Pennsylvania...",1.155543e+06,131.967026
44,Puerto Rico,5767870.0,AdjuntasAguadaAguadillaAguas BuenasAibonitoAna...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,1422.729273,-5179.588874,303533,3314,0.0,0.0,"Adjuntas, Puerto Rico, USAguada, Puerto Rico, ...",6.281112e+05,37.620615
45,Recovered,0.0,0,US,2022-01-04 04:22:17,0.000000,0.000000,0,0,0.0,0.0,"Recovered, US",0.000000e+00,0.000000
46,Rhode Island,310069.0,BristolKentNewportProvidenceUnassignedWashington,USUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,208.275711,-357.320525,231096,3066,0.0,0.0,"Bristol, Rhode Island, USKent, Rhode Island, U...",8.434632e+04,6.727416
47,South Carolina,2162161.0,AbbevilleAikenAllendaleAndersonBambergBarnwell...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,1562.043718,-3725.236386,975320,14636,0.0,0.0,"Abbeville, South Carolina, USAiken, South Caro...",8.393307e+05,85.448066
48,South Dakota,3130531.0,AuroraBeadleBennettBon HommeBrookingsBrownBrul...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2921.997865,-6554.501988,179983,2494,0.0,0.0,"Aurora, South Dakota, USBeadle, South Dakota, ...",1.257732e+06,131.135992
49,Tennessee,4644119.0,AndersonBedfordBentonBledsoeBlountBradleyCampb...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,3409.084710,-8180.328684,1460431,20832,0.0,0.0,"Anderson, Tennessee, USBedford, Tennessee, USB...",2.057456e+06,167.780376
50,Texas,12346564.0,AndersonAndrewsAngelinaAransasArcherArmstrongA...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,8041.803434,-25057.879425,4795121,75917,0.0,0.0,"Anderson, Texas, USAndrews, Texas, USAngelina,...",4.258929e+06,620.892708
51,Utah,433320.0,Bear RiverCentral UtahDavisSalt LakeSan JuanSo...,USUSUSUSUSUSUSUSUSUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,520.187201,-1448.991415,651746,3804,0.0,0.0,"Bear River, Utah, USCentral Utah, Utah, USDavi...",2.557148e+05,9.221690
52,Vermont,790246.0,AddisonBenningtonCaledoniaChittendenEssexFrank...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,618.232941,-1017.581330,67226,480,0.0,0.0,"Addison, Vermont, USBennington, Vermont, USCal...",1.514997e+05,8.947455
53,Virgin Islands,78.0,0,US,2022-01-04 04:22:17,18.335800,-64.896300,10290,89,0.0,0.0,"Virgin Islands, US",9.592796e+03,0.864917
54,Virginia,6908162.0,AccomackAlbemarleAlexandriaAlleghanyAmeliaAmhe...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,4996.297993,-10442.323661,1158764,15615,0.0,0.0,"Accomack, Virginia, USAlbemarle, Virginia, USA...",1.957991e+06,233.181010
55,Washington,2158574.0,AdamsAsotinBentonChelanClallamClarkColumbiaCow...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,1842.117670,-4708.049596,882144,9853,0.0,0.0,"Adams, Washington, USAsotin, Washington, USBen...",4.757024e+05,51.607845
56,West Virginia,3063079.0,BarbourBerkeleyBooneBraxtonBrookeCabellCalhoun...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,2134.783954,-4433.959998,337326,5356,0.0,0.0,"Barbour, West Virginia, USBerkeley, West Virgi...",1.049325e+06,89.333076
57,Wisconsin,4055174.0,AdamsAshlandBarronBayfieldBrownBuffaloBurnettC...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,3196.450332,-6465.454559,1132356,11185,0.0,0.0,"Adams, Wisconsin, USAshland, Wisconsin, USBarr...",1.408735e+06,83.740727
58,Wyoming,1378585.0,AlbanyBig HornCampbellCarbonConverseCrookFremo...,USUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUSUS,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,990.998367,-2464.524571,116643,1526,0.0,0.0,"Albany, Wyoming, USBig Horn, Wyoming, USCampbe...",4.538095e+05,33.281553

### Create a DataFrame for Country Level Analysis

Create a new DataFrame, `df_countries`, that aggregates the data within each country together to get a DataFrame that contains one row for each country:

In [6]:
df_countries = df.groupby("Country_Region").agg("sum").reset_index()
df_countries

,Country_Region,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,0.0,0,0,2022-01-04 04:22:17,33.939110,67.709953,158183,7364,0.0,0.0,Afghanistan,406.344057,4.655368
1,Albania,0.0,0,0,2022-01-04 04:22:17,41.153300,20.168300,210885,3220,0.0,0.0,Albania,7327.993606,1.526899
2,Algeria,0.0,0,0,2022-01-04 04:22:17,28.033900,1.659600,219532,6298,0.0,0.0,Algeria,500.631194,2.868830
3,Andorra,0.0,0,0,2022-01-04 04:22:17,42.506300,1.521800,24502,140,0.0,0.0,Andorra,31711.641752,0.571382
4,Angola,0.0,0,0,2022-01-04 04:22:17,-11.202700,17.873900,83764,1775,0.0,0.0,Angola,254.863132,2.119049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,0.0,0,0,2022-01-04 04:22:17,31.952200,35.233200,469748,4919,0.0,0.0,West Bank and Gaza,9208.188472,1.047157
197,Winter Olympics 2022,0.0,0,0,2022-01-04 04:22:17,39.904200,116.407400,0,0,0.0,0.0,Winter Olympics 2022,0.000000,0.000000
198,Yemen,0.0,0,0,2022-01-04 04:22:17,15.552727,48.516388,10138,1984,0.0,0.0,Yemen,33.990515,19.569935
199,Zambia,0.0,0,0,2022-01-04 04:22:17,-13.133897,27.849332,261221,3753,0.0,0.0,Zambia,1420.918327,1.436715
200,Zimbabwe,0.0,0,0,2022-01-04 04:22:17,-19.015438,29.154857,216087,5047,0.0,0.0,Zimbabwe,1453.865716,2.335633

### Performing Country-Level Analysis

Create a DataFrame called `df_most_cases` that contains the country which has had the most confirmed cases of COVID-19:

In [7]:
df_most_cases = df_countries["Confirmed"].nlargest().idxmax()
df_most_cases = df.loc[[df_most_cases]]
df_most_cases

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
186,NaN,NaN,NaN,Cyprus,2022-01-04 04:22:17,35.1264,33.4299,177721,641,NaN,NaN,Cyprus,14719.78969,0.360678

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [8]:
### TEST CASE for Data Analysis
tada = "\N{PARTY POPPER}"

assert("df_us" in vars())
assert("Province_State" in df_us)

assert("df_us_sorted" in vars())
assert(df_us_sorted.iloc[:,-7].values[2] <= df_us_sorted.iloc[:,-7].values[1])
assert(df_us_sorted.iloc[:,-7].values[10] <= df_us_sorted.iloc[:,-7].values[9])
assert(df_us_sorted["Confirmed"].values[0]) == max(df_us["Confirmed"])

assert("df_countries" in vars())
assert(df_countries["Confirmed"].sum() == df["Confirmed"].cumsum().values[len(df) - 1])

assert("df_most_cases" in vars())
assert(len(df_most_cases) == 1)
assert(len(df_most_cases.iloc[0]["Country_Region"]) == 2)

print(f"{tada} All Tests Passed! {tada}")

AssertionError:

<hr style="color: #DD3403;">

## Checking for the Pareto principle

The Pareto principle states that *"for many outcomes, roughly 80% of consequences come from 20% of causes (the "vital few")"* ([See more on Wikipedia: Pareto principle](https://en.wikipedia.org/wiki/Pareto_principle)).  This is also known as the "80-20 rule" and appears often in Data Science.

In terms of COVID-19 cases, the application of the Pareto principle would be that **80% of confirmed cases comes from just 20% of countries**.  Is this true?

To test this, we need to find total number of cases across all countries.  Compute the total number of confirmed cases in the variable `confirmed_total` (this should be a number, not a DataFrame):

In [9]:
confirmed_total = df["Confirmed"].agg("sum")
confirmed_total

293190148

Using a bit of math, 80% of the total number of confirmed cases would be:

In [10]:
confirmed_80pct = confirmed_total * 0.8
confirmed_80pct

234552118.4

### Finding the Cumulative Sum of Cases

DataFrames provide the function "cumulative sum" function, or `df.cumsum(...)`, that allows us to calculate the sum of every row up until and including the current row.

Read the DISCOVERY guide "What is the Cumulative Sum of a pandas DataFrame?" to find out more on using the cumulative sum function:
- [Guide: "What is the Cumulative Sum of a pandas DataFrame?"](https://discovery.cs.illinois.edu/guides/DataFrame-Fundamentals/Cumulative-Sum-in-pandas/)

Before finding the cumulative sum, we need to have a sorted DataFrame of all countries in descending order.  Use `df_countries` to create a DataFrame sorted by confirmed cases in the variable `df_countries_sorted`:

In [11]:
df_countries_sorted = df_countries.sort_values(by="Confirmed", ascending=False)
df_countries_sorted

,Country_Region,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
186,US,105902623.0,AutaugaBaldwinBarbourBibbBlountBullockButlerCa...,AlabamaAlabamaAlabamaAlabamaAlabamaAlabamaAlab...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,121693.134039,-293352.619164,56438999,828234,0.0,0.0,"Autauga, Alabama, USBaldwin, Alabama, USBarbou...",5.576002e+07,7600.185927
80,India,0.0,0,Andaman and Nicobar IslandsAndhra PradeshAruna...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,831.177882,2945.020567,34960261,482017,0.0,0.0,"Andaman and Nicobar Islands, IndiaAndhra Prade...",1.537603e+05,46.956740
24,Brazil,0.0,0,AcreAlagoasAmapaAmazonasBahiaCearaDistrito Fed...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,-342.077100,-1308.973300,22309081,619473,0.0,0.0,"Acre, BrazilAlagoas, BrazilAmapa, BrazilAmazon...",3.272539e+05,66.658983
190,United Kingdom,0.0,0,AnguillaBermudaBritish Virgin IslandsCayman Is...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,496.754894,-642.546956,13498751,178396,0.0,0.0,"Anguilla, United KingdomBermuda, United Kingdo...",1.993084e+05,11.388305
63,France,0.0,0,French GuianaFrench PolynesiaGuadeloupeMartini...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,77.169695,-416.763414,10422830,125200,0.0,0.0,"French Guiana, FranceFrench Polynesia, FranceG...",1.306596e+05,13.176218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Tonga,0.0,0,0,2022-01-04 04:22:17,-21.179000,-175.198200,1,0,0.0,0.0,Tonga,9.461006e-01,0.000000
93,"Korea, North",0.0,0,0,2022-01-04 04:22:17,40.339900,127.510100,0,0,0.0,0.0,"Korea, North",0.000000e+00,0.000000
126,Nauru,0.0,0,0,2022-01-04 04:22:17,-0.522800,166.931500,0,0,0.0,0.0,Nauru,0.000000e+00,0.000000
197,Winter Olympics 2022,0.0,0,0,2022-01-04 04:22:17,39.904200,116.407400,0,0,0.0,0.0,Winter Olympics 2022,0.000000e+00,0.000000
185,Tuvalu,0.0,0,0,2022-01-04 04:22:17,-7.109500,177.649300,0,0,0.0,0.0,Tuvalu,0.000000e+00,0.000000

Using `df_countries_sorted`, create a new column called `Cumulative Confirmed` that contains the cumulative sum of the Confirmed cases:

In [12]:
df_countries_sorted["Cumulative Confirmed"] = df_countries_sorted["Confirmed"].agg("sum")
df_countries_sorted

,Country_Region,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Cumulative Confirmed
186,US,105902623.0,AutaugaBaldwinBarbourBibbBlountBullockButlerCa...,AlabamaAlabamaAlabamaAlabamaAlabamaAlabamaAlab...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,121693.134039,-293352.619164,56438999,828234,0.0,0.0,"Autauga, Alabama, USBaldwin, Alabama, USBarbou...",5.576002e+07,7600.185927,293190148
80,India,0.0,0,Andaman and Nicobar IslandsAndhra PradeshAruna...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,831.177882,2945.020567,34960261,482017,0.0,0.0,"Andaman and Nicobar Islands, IndiaAndhra Prade...",1.537603e+05,46.956740,293190148
24,Brazil,0.0,0,AcreAlagoasAmapaAmazonasBahiaCearaDistrito Fed...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,-342.077100,-1308.973300,22309081,619473,0.0,0.0,"Acre, BrazilAlagoas, BrazilAmapa, BrazilAmazon...",3.272539e+05,66.658983,293190148
190,United Kingdom,0.0,0,AnguillaBermudaBritish Virgin IslandsCayman Is...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,496.754894,-642.546956,13498751,178396,0.0,0.0,"Anguilla, United KingdomBermuda, United Kingdo...",1.993084e+05,11.388305,293190148
63,France,0.0,0,French GuianaFrench PolynesiaGuadeloupeMartini...,2022-01-04 04:22:172022-01-04 04:22:172022-01-...,77.169695,-416.763414,10422830,125200,0.0,0.0,"French Guiana, FranceFrench Polynesia, FranceG...",1.306596e+05,13.176218,293190148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Tonga,0.0,0,0,2022-01-04 04:22:17,-21.179000,-175.198200,1,0,0.0,0.0,Tonga,9.461006e-01,0.000000,293190148
93,"Korea, North",0.0,0,0,2022-01-04 04:22:17,40.339900,127.510100,0,0,0.0,0.0,"Korea, North",0.000000e+00,0.000000,293190148
126,Nauru,0.0,0,0,2022-01-04 04:22:17,-0.522800,166.931500,0,0,0.0,0.0,Nauru,0.000000e+00,0.000000,293190148
197,Winter Olympics 2022,0.0,0,0,2022-01-04 04:22:17,39.904200,116.407400,0,0,0.0,0.0,Winter Olympics 2022,0.000000e+00,0.000000,293190148
185,Tuvalu,0.0,0,0,2022-01-04 04:22:17,-7.109500,177.649300,0,0,0.0,0.0,Tuvalu,0.000000e+00,0.000000,293190148

Finally, create a DataFrame called `df_80pct` with all the countries up to the country that, cumulatively, account for 80% of the global cases (remember, that's the cases you stored in `confirmed_80pct`):

In [ ]:
df_80pct = ...
df_80pct

### Does the Pareto Principle show up?

Currently:
- `df_countries` contains EVERY country in the world with COVID-19 data, and
- `df_80pct` contains countries that make up 80% of the cases.

If the Pareto principle applies to the confirmed cases of COVID-19, then we expect that `df_80pct` holds only approximately 20% of all the countries.  Let's see:

In [ ]:
pct_cases = 100 * sum(df_80pct["Confirmed"]) / sum(df_countries["Confirmed"])
pct_cases = round(pct_cases, 2)

pct_countries = 100 * len(df_80pct) / len(df_countries)
pct_countries = round(pct_countries, 2)

print(f"Result: {pct_cases}% of the COVID-19 cases comes from {pct_countries}% of the countries in the dataset.")

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [ ]:
### TEST CASE for Pareto Principle
tada = "\N{PARTY POPPER}"

assert("confirmed_total" in vars())
assert("confirmed_80pct" in vars())
assert(confirmed_total > 2.9e8)
                         
assert("df_countries_sorted" in vars())
assert("Cumulative Confirmed" in df_countries_sorted)
assert(max(df_countries_sorted["Cumulative Confirmed"]) == sum(df_countries_sorted["Confirmed"]))
assert(min(df_countries_sorted["Cumulative Confirmed"]) == df_countries_sorted.iloc[0]["Confirmed"])

assert("df_80pct" in vars())
assert("US" in df_80pct["Country_Region"].unique())
assert("India" in df_80pct["Country_Region"].unique())
assert("Tonga" not in df_80pct["Country_Region"].unique())

assert(sum(df_80pct["Confirmed"]) / sum(df_countries["Confirmed"]) > 0.7)
assert(sum(df_80pct["Confirmed"]) / sum(df_countries["Confirmed"]) < 0.9)

assert(len(df_80pct["Confirmed"]) / len(df_countries["Confirmed"]) > 0.1)
assert(len(df_80pct["Confirmed"]) / len(df_countries["Confirmed"]) < 0.2)

print(f"{tada} All Tests Passed! {tada}")

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  âš ï¸ **Make certain to save your work.** âš ï¸ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and return to https://discovery.cs.illinois.edu/microproject/covid-data-from-github/ and complete the section **"Commit and Grade Your Notebook"**.

3. If you see a 100% grade result on your GitHub Action, you've completed this MicroProject! ðŸŽ‰