<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject</div>
<span style="">MicroProject: World University Rankings</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/world-university-rankings/">https://discovery.cs.illinois.edu/microproject/world-university-rankings/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: The Times Higher Education

There are hundreds of organizations that rank universities, including US News and World Report, QS World University Rankings, Times Higher Education (THE), and many others.

The Times Higher Education (THE) provides a clean, well-documented CSV that includes their rankings based on the "performance data on universities for students and their families, academics, university leaders, governments and industry".  Their 2020 dataset includes almost 1,400 universities across 92 countries and includes 13 performance indicators that measure an institution‚Äôs performance across teaching, research, knowledge transfer and international outlook.  Their website with additional details on this dataset is found here: https://www.timeshighereducation.com/content/world-university-rankings

In this MicroProject, you will explore basic DataFrame operations on the Times Higher Education university rankings.

<hr style="color: #DD3403;">

## Importing the World University Rank Dataset

To use the `pandas` library, we must **import** it into your notebook. import pandas as `pd` in the following cell:

In [3]:
import pandas as pd

Use panda's `read_csv` function to read the `World_University_Rank_2020.csv` (already provided for you) and store that data into a DataFrame called `df`:

In [4]:
# Read the CSV into a new DataFrame `df`:
df = pd.read_csv("World_University_Rank_2020.csv")
df

,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
0,1,University of Oxford,United Kingdom,20664,11.2,41%,46%,54%,90.5,99.6,98.4,65.5,96.4,95.4,95.40
1,2,California Institute of Technology,United States,2240,6.4,30%,34%,66%,92.1,97.2,97.9,88.0,82.5,94.5,94.50
2,3,University of Cambridge,United Kingdom,18978,10.9,37%,47%,53%,91.4,98.7,95.8,59.3,95.0,94.4,94.40
3,4,Stanford University,United States,16135,7.3,23%,43%,57%,92.8,96.4,99.9,66.2,79.5,94.3,94.30
4,5,Massachusetts Institute of Technology,United States,11247,8.6,34%,39%,61%,90.5,92.4,99.5,86.9,89.0,93.6,93.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1391,531,CearÔøΩ State University,Brazil,20174,17.8,0%,55%,45%,16.2,8.3,6.1,35.6,16.3,11.3,10.7ÔøΩ22.1
1392,532,Pontifical Catholic University of Minas Gerais,Brazil,34101,21.3,0%,57%,43%,15.3,7.7,6.7,35.1,19.4,11.2,10.7ÔøΩ22.1
1393,533,Bashkir State University,Russian Federation,15236,11.1,3%,63%,37%,17.0,8.1,4.5,36.9,16.7,11.1,10.7ÔøΩ22.1
1394,534,University of Caxias do Sul,Brazil,17101,24.9,0%,54%,46%,13.8,7.8,7.6,35.0,17.7,11.0,10.7ÔøΩ22.1
1395,535,Tokyo Denki University,Japan,9285,25.6,2%,12%,88%,15.2,9.3,3.4,39.6,17.7,10.7,10.7ÔøΩ22.1

In [5]:
### TEST CASE for Importing the World University Rank Dataset
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"

assert("df" in vars()), "Make sure to name the dataframe df"
assert(df["University"].iloc[0] == "University of Oxford")
assert(df["University"].iloc[1392] == "Pontifical Catholic University of Minas Gerais")
assert("University" in df)
assert("Score" not in df)
print(f"{tada} All Tests Passed! {tada}")

üéâ All Tests Passed! üéâ

<hr style="color: #DD3403;">

## Puzzle 1: Rankings with the United States

In this dataset, each row represents one university.

Find the variable that encodes where the university is located.  Using a conditional, create a new DataFrame called `df_US` that includes the subset of data containing only the universities in the United States:

In [6]:
df_US = df[df["Country"] == "United States"]
df_US

,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
1,2,California Institute of Technology,United States,2240,6.4,30%,34%,66%,92.1,97.2,97.9,88.0,82.5,94.5,94.50
3,4,Stanford University,United States,16135,7.3,23%,43%,57%,92.8,96.4,99.9,66.2,79.5,94.3,94.30
4,5,Massachusetts Institute of Technology,United States,11247,8.6,34%,39%,61%,90.5,92.4,99.5,86.9,89.0,93.6,93.60
5,6,Princeton University,United States,7983,8.1,25%,45%,55%,90.3,96.3,98.8,58.6,81.1,93.2,93.20
6,7,Harvard University,United States,20823,9.2,24%,49%,51%,89.2,98.6,99.1,47.3,76.3,93.0,93.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,428,Oakland University,United States,15887,18.9,4%,57%,43%,25.5,12.7,24.5,35.3,28.9,21.9,10.7ÔøΩ22.1
1015,429,"California State University, Long Beach",United States,30595,19.7,4%,58%,42%,23.1,10.1,27.3,35.9,37.3,21.8,10.7ÔøΩ22.1
1048,437,University of North Florida,United States,12132,17.7,2%,57%,43%,24.8,10.5,25.7,34.6,24.0,21.0,10.7ÔøΩ22.1
1052,438,Texas State University,United States,31893,19.1,1%,58%,42%,17.4,14.3,27.3,36.4,30.4,20.9,10.7ÔøΩ22.1
1212,477,University of North Carolina Wilmington,United States,14791,19.6,2%,62%,38%,15.9,7.7,23.3,35.1,26.5,16.9,10.7ÔøΩ22.1

In [7]:
### TEST CASE for Puzzle 1: Rankings with the United States
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"

assert(df.iloc[47]["University"] == "University of Illinois at Urbana-Champaign")
assert(df.iloc[47]["Number_students"] == 44916)

assert('df_US' in vars()), "Make sure to name the dataframe df_US."
assert(len(df_US) == 172), "It looks like you did not subset df_US to only include universities located in the United States."
assert(df_US["University"].iloc[0] == "California Institute of Technology")
assert(df_US["Number_students"].iloc[171] == 14791)

print(f"{tada} All Tests Passed! {tada}")

üéâ All Tests Passed! üéâ

## **Key Idea**: Indexes

By default, pandas creates an **index column** that will always start with the index `0`.  Each row after the first receives an index in an increasing order (the second row has index `1`, the third row index `2`, and so on).

The Top University in the full original dataset, Oxford, has an index of 0.  Using the full original dataset (`df`), `df.loc[0]` will display the row at the index (or `loc`) `0`.  See this yourself in running the following code:

In [8]:
# Find the row with the index `0` in the DataFrame `df`:
df.loc[0]

Score_Rank                                    1
University                 University of Oxford
Country                          United Kingdom
Number_students                           20664
Numb_students_per_Staff                    11.2
International_Students                      41%
Percentage_Female                           46%
Percentage_Male                             54%
Teaching                                   90.5
Research                                   99.6
Citations                                  98.4
Industry_Income                            65.5
International_Outlook                      96.4
Score_Result                               95.4
Overall_Ranking                           95.40
Name: 0, dtype: object

### Indexes after Row Selection

Our dataset of US-based universities -- `df_US` -- is a subset of the original full dataset and **still has the original index values**.

When we attempt to find index `0` of `df_US`, we **expect to get a `KeyError`** indicating that this index does NOT exist within `df_US`.  Try this yourself:

In [10]:
# Find the row with the index `0` in the DataFrame `df_US`:
#          ** An error in expected!! **
#   ** (You will fix it in the next section.) **
df_US.head(1)

,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
1,2,California Institute of Technology,United States,2240,6.4,30%,34%,66%,92.1,97.2,97.9,88.0,82.5,94.5,94.50

### Fix The KeyError

(‚ö†Ô∏è You **MUST** make the fix for grading to work, it's easy to miss this section! ‚ö†Ô∏è)

In the above cell, fix the error by updating the code to select the best University in `df_US`.

Fix it and re-run the cell before you continue to the next puzzle. :)

<hr style="color: #DD3403; border-style: dashed;">

## Puzzle 1.2: Re-indexing the Universities in the United States

The command `df_US.reset_index()` can be used to **regenerate** the indexes for `df_US`.

When you run `reset_index`, the pandas library will:
1. Move the existing indexes to a new column called `index`
2. Then, replace all of the indexes in `df_US` with a new index (starting with `0`, and counting up by one for each row, just like it was a new dataset)

Use the `reset_index()` function on `df_US` to reset the indexes:

In [11]:
df_US = df_US.reset_index()
df_US

,index,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
0,1,2,California Institute of Technology,United States,2240,6.4,30%,34%,66%,92.1,97.2,97.9,88.0,82.5,94.5,94.50
1,3,4,Stanford University,United States,16135,7.3,23%,43%,57%,92.8,96.4,99.9,66.2,79.5,94.3,94.30
2,4,5,Massachusetts Institute of Technology,United States,11247,8.6,34%,39%,61%,90.5,92.4,99.5,86.9,89.0,93.6,93.60
3,5,6,Princeton University,United States,7983,8.1,25%,45%,55%,90.3,96.3,98.8,58.6,81.1,93.2,93.20
4,6,7,Harvard University,United States,20823,9.2,24%,49%,51%,89.2,98.6,99.1,47.3,76.3,93.0,93.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,1011,428,Oakland University,United States,15887,18.9,4%,57%,43%,25.5,12.7,24.5,35.3,28.9,21.9,10.7ÔøΩ22.1
168,1015,429,"California State University, Long Beach",United States,30595,19.7,4%,58%,42%,23.1,10.1,27.3,35.9,37.3,21.8,10.7ÔøΩ22.1
169,1048,437,University of North Florida,United States,12132,17.7,2%,57%,43%,24.8,10.5,25.7,34.6,24.0,21.0,10.7ÔøΩ22.1
170,1052,438,Texas State University,United States,31893,19.1,1%,58%,42%,17.4,14.3,27.3,36.4,30.4,20.9,10.7ÔøΩ22.1
171,1212,477,University of North Carolina Wilmington,United States,14791,19.6,2%,62%,38%,15.9,7.7,23.3,35.1,26.5,16.9,10.7ÔøΩ22.1

In [12]:
### TEST CASE for Puzzle 1.2: Re-indexing the universities in the United States
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"
assert(df_US["University"].loc[0] == "California Institute of Technology")
assert("index" in df_US.columns)
print(f"{tada} All Tests Passed! {tada}")

üéâ All Tests Passed! üéâ

<hr style="color: #DD3403;">

## Puzzle 2: Large Universities in the United States

In the United States, there are generally large universities (often "large state schools") and small universities (often "small liberal arts colleges").  Explore the dataset and find the variable that stores the number of students that attends each university.

For the next analysis, we want to focus only on **large universities in the United States**.  For the purpose of this analysis, we'll refer to any University with at least 30,000 students as "large".

Create a new DataFrame called `df_US_large`, which contains all large universities in the United States:

In [13]:
df_US_large = df[(df["Country"] == "United States") & (df["Number_students"] >= 30000)]

df_US_large

,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
12,13,"University of California, Berkeley",United States,41081,13.7,17%,50%,50%,83.0,90.6,99.2,46.1,70.4,88.3,88.30
16,16,"University of California, Los Angeles",United States,41066,9.4,17%,54%,46%,83.1,88.6,97.3,51.3,64.1,86.8,86.80
20,20,University of Michigan-Ann Arbor,United States,42982,8.3,17%,49%,51%,79.4,86.1,94.9,47.7,59.2,83.8,83.80
25,25,University of Washington,United States,45692,11.1,16%,53%,47%,72.2,82.2,98.6,47.5,60.4,81.6,81.60
28,27,New York University,United States,44466,8.9,33%,57%,43%,76.8,77.5,96.5,38.7,65.4,81.1,81.10
30,29,"University of California, San Diego",United States,33579,13.0,23%,46%,54%,62.6,78.9,97.7,90.3,63.7,78.8,78.80
39,34,University of Texas at Austin,United States,49165,17.2,10%,52%,48%,68.2,76.2,93.2,46.6,39.1,75.4,75.40
47,41,University of Illinois at Urbana-Champaign,United States,44916,17.9,24%,47%,53%,63.2,78.0,84.4,47.9,54.3,73.0,72.90
50,44,University of Wisconsin-Madison,United States,39154,10.0,13%,0%,0%,68.8,70.3,85.3,46.3,47.4,72.0,72.00
53,47,University of North Carolina at Chapel Hill,United States,35419,9.4,8%,57%,43%,59.7,63.2,96.9,43.9,38.0,69.9,69.90
54,48,"University of California, Davis",United States,39164,12.0,14%,58%,42%,62.4,66.9,83.2,51.4,62.4,69.7,69.70
62,53,University of Southern California,United States,36929,11.7,25%,53%,47%,54.7,59.3,93.1,39.7,66.2,68.1,68.10
69,59,Ohio State University (Main campus),United States,54372,12.5,13%,50%,50%,57.5,56.1,87.3,53.3,59.5,66.1,66.10
77,65,Penn State (Main campus),United States,46204,15.3,16%,46%,54%,55.2,67.1,75.7,52.1,47.4,64.3,64.20
78,66,University of Minnesota,United States,61120,12.4,11%,52%,48%,55.2,59.3,82.7,78.2,40.2,64.1,64.10
83,68,Michigan State University,United States,44789,16.5,16%,51%,49%,56.6,57.4,80.0,37.8,63.3,63.9,63.90
87,71,Purdue University West Lafayette,United States,40451,15.7,23%,43%,57%,57.5,66.4,63.0,64.3,72.0,63.1,63.10
90,73,"University of Maryland, College Park",United States,33108,16.6,11%,48%,52%,46.9,59.1,89.6,39.2,41.2,62.8,62.70
95,77,"University of California, Irvine",United States,32706,16.5,26%,52%,48%,43.3,46.5,94.9,58.9,71.9,62.3,62.30
103,81,University of Arizona,United States,39124,18.4,10%,52%,48%,52.6,53.7,85.3,52.7,40.2,61.8,61.80
123,94,University of Colorado Boulder,United States,33186,16.3,11%,44%,56%,44.8,45.6,93.1,41.7,47.3,59.6,59.60
133,101,Indiana University,United States,66872,13.6,15%,52%,48%,50.8,49.7,76.7,49.8,53.5,58.4,58.40
154,111,Arizona State University (Tempe),United States,46683,21.1,21%,43%,57%,39.3,50.7,81.6,38.5,61.8,57.1,57.10
169,117,"Rutgers, the State University of New Jersey",United States,44801,11.2,17%,52%,48%,47.8,48.5,73.9,41.1,51.5,56.0,56.00
174,121,University of Florida,United States,46642,16.8,10%,55%,45%,54.0,53.8,61.9,57.9,40.0,55.4,55.40
177,122,Texas A&M University,United States,60818,24.8,8%,47%,53%,49.3,54.8,62.8,45.3,54.3,55.3,55.30
209,137,University of Massachusetts,United States,61204,13.0,15%,48%,52%,38.5,31.1,87.0,49.9,61.7,52.9,50.1ÔøΩ53.7
217,144,University of South Florida (Tampa),United States,33885,18.9,14%,0%,0%,30.5,34.2,87.3,89.0,54.7,51.9,50.1ÔøΩ53.7
220,146,University of Utah,United States,30365,14.2,8%,47%,53%,39.0,34.7,86.4,48.3,33.0,51.7,50.1ÔøΩ53.7
243,157,Virginia Polytechnic Institute and State Unive...,United States,32838,18.3,14%,43%,57%,37.5,42.3,70.9,47.5,54.0,50.4,50.1ÔøΩ53.7
277,175,Florida State University,United States,38520,24.1,7%,56%,44%,38.0,40.1,69.2,39.4,43.5,48.4,46.9ÔøΩ50.0
310,194,North Carolina State University,United States,30231,12.5,15%,45%,55%,36.7,35.3,64.7,43.2,57.8,46.4,44.5ÔøΩ46.8
312,195,Temple University,United States,35814,13.0,9%,53%,47%,39.3,23.5,79.3,34.4,37.7,46.3,44.5ÔøΩ46.8
393,230,University of Connecticut,United States,32446,15.2,9%,53%,47%,36.5,29.7,60.6,37.9,49.0,42.7,42.4ÔøΩ44.4
400,233,Iowa State University,United States,32469,18.8,12%,44%,56%,29.5,33.0,60.5,49.6,56.7,42.4,42.4ÔøΩ44.4
403,234,University of Georgia,United States,35164,16.3,7%,57%,43%,34.9,35.8,55.8,37.2,46.0,42.3,38.8ÔøΩ42.3
431,246,University of Alabama,United States,35120,22.5,4%,56%,44%,26.9,22.4,77.4,35.3,28.9,41.1,38.8ÔøΩ42.3
440,248,University of South Carolina-Columbia,United States,32291,16.2,5%,55%,45%,33.2,25.5,63.7,36.2,43.2,40.9,38.8ÔøΩ42.3
478,262,University of Houston,United States,44128,25.7,9%,50%,50%,33.6,25.9,58.0,36.8,42.5,39.4,38.8ÔøΩ42.3
507,271,Florida International University,United States,34203,23.8,8%,57%,43%,30.4,22.6,62.3,38.0,39.7,38.5,35.3ÔøΩ38.7
558,290,San Diego State University,United States,30799,30.5,8%,55%,45%,23.7,24.4,62.0,35.1,33.9,36.5,35.3ÔøΩ38.7
609,304,University of Central Florida,United States,56228,35.3,4%,56%,44%,26.5,28.7,49.7,42.6,32.9,35.0,28.3ÔøΩ35.2
638,314,Texas Tech University,United States,33015,20.6,9%,46%,54%,30.8,20.9,46.5,36.2,48.4,34.0,28.3ÔøΩ35.2
1015,429,"California State University, Long Beach",United States,30595,19.7,4%,58%,42%,23.1,10.1,27.3,35.9,37.3,21.8,10.7ÔøΩ22.1
1052,438,Texas State University,United States,31893,19.1,1%,58%,42%,17.4,14.3,27.3,36.4,30.4,20.9,10.7ÔøΩ22.1

In [14]:
### TEST CASE for Puzzle 2: Large universities in the United States
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"

assert('df_US_large' in vars()), "Make sure to name the dataframe df_US_large."
assert(len(df_US_large) == 45), "It looks like you did not subset df_US_large to only universities with at least 30000 students."
assert(df_US_large["University"].iloc[7] == "University of Illinois at Urbana-Champaign")
print(f"{tada} All Tests Passed! {tada}")

üéâ All Tests Passed! üéâ

## Puzzle 2.2: Creating a Ranking List of Large US Universities

In the THE dataset, the dataset provides a `Score_Rank` column that contains the global rank of each school. For our analysis, we want to add a new column called `US_Large_Rank` that contains the ranking of large schools in the United States.  There are several ways to do this, but one of the easiest is to use the `reset_index()` function.

There's three observations we can make:

- Since the list is already sorted, we know the first university in `df_US_large` is the top university (Rank #1).  The second row is Rank #2, and so on.
- If we use `reset_index`, pandas will re-index the rows starting from zero.
- The first row is index 0, which will be Rank #1, so we'd just need to add one to all the index values!

Complete the following two steps:
1. Use `reset_index()` to reset the index values of `df_US_large`,
2. Then, create a new column in `df_US_large` called `"US_Large_Rank"` with the value: `df_US_large.index + 1`.

In [15]:
# Step 1: Reset the index of df_US_large (if needed, see Puzzle 1.2 to refresh how you can do this):
df_US_large = df_US_large.reset_index()
df_US_large

,index,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
0,12,13,"University of California, Berkeley",United States,41081,13.7,17%,50%,50%,83.0,90.6,99.2,46.1,70.4,88.3,88.30
1,16,16,"University of California, Los Angeles",United States,41066,9.4,17%,54%,46%,83.1,88.6,97.3,51.3,64.1,86.8,86.80
2,20,20,University of Michigan-Ann Arbor,United States,42982,8.3,17%,49%,51%,79.4,86.1,94.9,47.7,59.2,83.8,83.80
3,25,25,University of Washington,United States,45692,11.1,16%,53%,47%,72.2,82.2,98.6,47.5,60.4,81.6,81.60
4,28,27,New York University,United States,44466,8.9,33%,57%,43%,76.8,77.5,96.5,38.7,65.4,81.1,81.10
5,30,29,"University of California, San Diego",United States,33579,13.0,23%,46%,54%,62.6,78.9,97.7,90.3,63.7,78.8,78.80
6,39,34,University of Texas at Austin,United States,49165,17.2,10%,52%,48%,68.2,76.2,93.2,46.6,39.1,75.4,75.40
7,47,41,University of Illinois at Urbana-Champaign,United States,44916,17.9,24%,47%,53%,63.2,78.0,84.4,47.9,54.3,73.0,72.90
8,50,44,University of Wisconsin-Madison,United States,39154,10.0,13%,0%,0%,68.8,70.3,85.3,46.3,47.4,72.0,72.00
9,53,47,University of North Carolina at Chapel Hill,United States,35419,9.4,8%,57%,43%,59.7,63.2,96.9,43.9,38.0,69.9,69.90
10,54,48,"University of California, Davis",United States,39164,12.0,14%,58%,42%,62.4,66.9,83.2,51.4,62.4,69.7,69.70
11,62,53,University of Southern California,United States,36929,11.7,25%,53%,47%,54.7,59.3,93.1,39.7,66.2,68.1,68.10
12,69,59,Ohio State University (Main campus),United States,54372,12.5,13%,50%,50%,57.5,56.1,87.3,53.3,59.5,66.1,66.10
13,77,65,Penn State (Main campus),United States,46204,15.3,16%,46%,54%,55.2,67.1,75.7,52.1,47.4,64.3,64.20
14,78,66,University of Minnesota,United States,61120,12.4,11%,52%,48%,55.2,59.3,82.7,78.2,40.2,64.1,64.10
15,83,68,Michigan State University,United States,44789,16.5,16%,51%,49%,56.6,57.4,80.0,37.8,63.3,63.9,63.90
16,87,71,Purdue University West Lafayette,United States,40451,15.7,23%,43%,57%,57.5,66.4,63.0,64.3,72.0,63.1,63.10
17,90,73,"University of Maryland, College Park",United States,33108,16.6,11%,48%,52%,46.9,59.1,89.6,39.2,41.2,62.8,62.70
18,95,77,"University of California, Irvine",United States,32706,16.5,26%,52%,48%,43.3,46.5,94.9,58.9,71.9,62.3,62.30
19,103,81,University of Arizona,United States,39124,18.4,10%,52%,48%,52.6,53.7,85.3,52.7,40.2,61.8,61.80
20,123,94,University of Colorado Boulder,United States,33186,16.3,11%,44%,56%,44.8,45.6,93.1,41.7,47.3,59.6,59.60
21,133,101,Indiana University,United States,66872,13.6,15%,52%,48%,50.8,49.7,76.7,49.8,53.5,58.4,58.40
22,154,111,Arizona State University (Tempe),United States,46683,21.1,21%,43%,57%,39.3,50.7,81.6,38.5,61.8,57.1,57.10
23,169,117,"Rutgers, the State University of New Jersey",United States,44801,11.2,17%,52%,48%,47.8,48.5,73.9,41.1,51.5,56.0,56.00
24,174,121,University of Florida,United States,46642,16.8,10%,55%,45%,54.0,53.8,61.9,57.9,40.0,55.4,55.40
25,177,122,Texas A&M University,United States,60818,24.8,8%,47%,53%,49.3,54.8,62.8,45.3,54.3,55.3,55.30
26,209,137,University of Massachusetts,United States,61204,13.0,15%,48%,52%,38.5,31.1,87.0,49.9,61.7,52.9,50.1ÔøΩ53.7
27,217,144,University of South Florida (Tampa),United States,33885,18.9,14%,0%,0%,30.5,34.2,87.3,89.0,54.7,51.9,50.1ÔøΩ53.7
28,220,146,University of Utah,United States,30365,14.2,8%,47%,53%,39.0,34.7,86.4,48.3,33.0,51.7,50.1ÔøΩ53.7
29,243,157,Virginia Polytechnic Institute and State Unive...,United States,32838,18.3,14%,43%,57%,37.5,42.3,70.9,47.5,54.0,50.4,50.1ÔøΩ53.7
30,277,175,Florida State University,United States,38520,24.1,7%,56%,44%,38.0,40.1,69.2,39.4,43.5,48.4,46.9ÔøΩ50.0
31,310,194,North Carolina State University,United States,30231,12.5,15%,45%,55%,36.7,35.3,64.7,43.2,57.8,46.4,44.5ÔøΩ46.8
32,312,195,Temple University,United States,35814,13.0,9%,53%,47%,39.3,23.5,79.3,34.4,37.7,46.3,44.5ÔøΩ46.8
33,393,230,University of Connecticut,United States,32446,15.2,9%,53%,47%,36.5,29.7,60.6,37.9,49.0,42.7,42.4ÔøΩ44.4
34,400,233,Iowa State University,United States,32469,18.8,12%,44%,56%,29.5,33.0,60.5,49.6,56.7,42.4,42.4ÔøΩ44.4
35,403,234,University of Georgia,United States,35164,16.3,7%,57%,43%,34.9,35.8,55.8,37.2,46.0,42.3,38.8ÔøΩ42.3
36,431,246,University of Alabama,United States,35120,22.5,4%,56%,44%,26.9,22.4,77.4,35.3,28.9,41.1,38.8ÔøΩ42.3
37,440,248,University of South Carolina-Columbia,United States,32291,16.2,5%,55%,45%,33.2,25.5,63.7,36.2,43.2,40.9,38.8ÔøΩ42.3
38,478,262,University of Houston,United States,44128,25.7,9%,50%,50%,33.6,25.9,58.0,36.8,42.5,39.4,38.8ÔøΩ42.3
39,507,271,Florida International University,United States,34203,23.8,8%,57%,43%,30.4,22.6,62.3,38.0,39.7,38.5,35.3ÔøΩ38.7
40,558,290,San Diego State University,United States,30799,30.5,8%,55%,45%,23.7,24.4,62.0,35.1,33.9,36.5,35.3ÔøΩ38.7
41,609,304,University of Central Florida,United States,56228,35.3,4%,56%,44%,26.5,28.7,49.7,42.6,32.9,35.0,28.3ÔøΩ35.2
42,638,314,Texas Tech University,United States,33015,20.6,9%,46%,54%,30.8,20.9,46.5,36.2,48.4,34.0,28.3ÔøΩ35.2
43,1015,429,"California State University, Long Beach",United States,30595,19.7,4%,58%,42%,23.1,10.1,27.3,35.9,37.3,21.8,10.7ÔøΩ22.1
44,1052,438,Texas State University,United States,31893,19.1,1%,58%,42%,17.4,14.3,27.3,36.4,30.4,20.9,10.7ÔøΩ22.1

In [16]:
# Step 2: Create a new column in df_US_large:
df_US_large["US_large_rank"] = df_US_large.index + 1
df_US_large

,index,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking,US_large_rank
0,12,13,"University of California, Berkeley",United States,41081,13.7,17%,50%,50%,83.0,90.6,99.2,46.1,70.4,88.3,88.30,1
1,16,16,"University of California, Los Angeles",United States,41066,9.4,17%,54%,46%,83.1,88.6,97.3,51.3,64.1,86.8,86.80,2
2,20,20,University of Michigan-Ann Arbor,United States,42982,8.3,17%,49%,51%,79.4,86.1,94.9,47.7,59.2,83.8,83.80,3
3,25,25,University of Washington,United States,45692,11.1,16%,53%,47%,72.2,82.2,98.6,47.5,60.4,81.6,81.60,4
4,28,27,New York University,United States,44466,8.9,33%,57%,43%,76.8,77.5,96.5,38.7,65.4,81.1,81.10,5
5,30,29,"University of California, San Diego",United States,33579,13.0,23%,46%,54%,62.6,78.9,97.7,90.3,63.7,78.8,78.80,6
6,39,34,University of Texas at Austin,United States,49165,17.2,10%,52%,48%,68.2,76.2,93.2,46.6,39.1,75.4,75.40,7
7,47,41,University of Illinois at Urbana-Champaign,United States,44916,17.9,24%,47%,53%,63.2,78.0,84.4,47.9,54.3,73.0,72.90,8
8,50,44,University of Wisconsin-Madison,United States,39154,10.0,13%,0%,0%,68.8,70.3,85.3,46.3,47.4,72.0,72.00,9
9,53,47,University of North Carolina at Chapel Hill,United States,35419,9.4,8%,57%,43%,59.7,63.2,96.9,43.9,38.0,69.9,69.90,10
10,54,48,"University of California, Davis",United States,39164,12.0,14%,58%,42%,62.4,66.9,83.2,51.4,62.4,69.7,69.70,11
11,62,53,University of Southern California,United States,36929,11.7,25%,53%,47%,54.7,59.3,93.1,39.7,66.2,68.1,68.10,12
12,69,59,Ohio State University (Main campus),United States,54372,12.5,13%,50%,50%,57.5,56.1,87.3,53.3,59.5,66.1,66.10,13
13,77,65,Penn State (Main campus),United States,46204,15.3,16%,46%,54%,55.2,67.1,75.7,52.1,47.4,64.3,64.20,14
14,78,66,University of Minnesota,United States,61120,12.4,11%,52%,48%,55.2,59.3,82.7,78.2,40.2,64.1,64.10,15
15,83,68,Michigan State University,United States,44789,16.5,16%,51%,49%,56.6,57.4,80.0,37.8,63.3,63.9,63.90,16
16,87,71,Purdue University West Lafayette,United States,40451,15.7,23%,43%,57%,57.5,66.4,63.0,64.3,72.0,63.1,63.10,17
17,90,73,"University of Maryland, College Park",United States,33108,16.6,11%,48%,52%,46.9,59.1,89.6,39.2,41.2,62.8,62.70,18
18,95,77,"University of California, Irvine",United States,32706,16.5,26%,52%,48%,43.3,46.5,94.9,58.9,71.9,62.3,62.30,19
19,103,81,University of Arizona,United States,39124,18.4,10%,52%,48%,52.6,53.7,85.3,52.7,40.2,61.8,61.80,20
20,123,94,University of Colorado Boulder,United States,33186,16.3,11%,44%,56%,44.8,45.6,93.1,41.7,47.3,59.6,59.60,21
21,133,101,Indiana University,United States,66872,13.6,15%,52%,48%,50.8,49.7,76.7,49.8,53.5,58.4,58.40,22
22,154,111,Arizona State University (Tempe),United States,46683,21.1,21%,43%,57%,39.3,50.7,81.6,38.5,61.8,57.1,57.10,23
23,169,117,"Rutgers, the State University of New Jersey",United States,44801,11.2,17%,52%,48%,47.8,48.5,73.9,41.1,51.5,56.0,56.00,24
24,174,121,University of Florida,United States,46642,16.8,10%,55%,45%,54.0,53.8,61.9,57.9,40.0,55.4,55.40,25
25,177,122,Texas A&M University,United States,60818,24.8,8%,47%,53%,49.3,54.8,62.8,45.3,54.3,55.3,55.30,26
26,209,137,University of Massachusetts,United States,61204,13.0,15%,48%,52%,38.5,31.1,87.0,49.9,61.7,52.9,50.1ÔøΩ53.7,27
27,217,144,University of South Florida (Tampa),United States,33885,18.9,14%,0%,0%,30.5,34.2,87.3,89.0,54.7,51.9,50.1ÔøΩ53.7,28
28,220,146,University of Utah,United States,30365,14.2,8%,47%,53%,39.0,34.7,86.4,48.3,33.0,51.7,50.1ÔøΩ53.7,29
29,243,157,Virginia Polytechnic Institute and State Unive...,United States,32838,18.3,14%,43%,57%,37.5,42.3,70.9,47.5,54.0,50.4,50.1ÔøΩ53.7,30
30,277,175,Florida State University,United States,38520,24.1,7%,56%,44%,38.0,40.1,69.2,39.4,43.5,48.4,46.9ÔøΩ50.0,31
31,310,194,North Carolina State University,United States,30231,12.5,15%,45%,55%,36.7,35.3,64.7,43.2,57.8,46.4,44.5ÔøΩ46.8,32
32,312,195,Temple University,United States,35814,13.0,9%,53%,47%,39.3,23.5,79.3,34.4,37.7,46.3,44.5ÔøΩ46.8,33
33,393,230,University of Connecticut,United States,32446,15.2,9%,53%,47%,36.5,29.7,60.6,37.9,49.0,42.7,42.4ÔøΩ44.4,34
34,400,233,Iowa State University,United States,32469,18.8,12%,44%,56%,29.5,33.0,60.5,49.6,56.7,42.4,42.4ÔøΩ44.4,35
35,403,234,University of Georgia,United States,35164,16.3,7%,57%,43%,34.9,35.8,55.8,37.2,46.0,42.3,38.8ÔøΩ42.3,36
36,431,246,University of Alabama,United States,35120,22.5,4%,56%,44%,26.9,22.4,77.4,35.3,28.9,41.1,38.8ÔøΩ42.3,37
37,440,248,University of South Carolina-Columbia,United States,32291,16.2,5%,55%,45%,33.2,25.5,63.7,36.2,43.2,40.9,38.8ÔøΩ42.3,38
38,478,262,University of Houston,United States,44128,25.7,9%,50%,50%,33.6,25.9,58.0,36.8,42.5,39.4,38.8ÔøΩ42.3,39
39,507,271,Florida International University,United States,34203,23.8,8%,57%,43%,30.4,22.6,62.3,38.0,39.7,38.5,35.3ÔøΩ38.7,40
40,558,290,San Diego State University,United States,30799,30.5,8%,55%,45%,23.7,24.4,62.0,35.1,33.9,36.5,35.3ÔøΩ38.7,41
41,609,304,University of Central Florida,United States,56228,35.3,4%,56%,44%,26.5,28.7,49.7,42.6,32.9,35.0,28.3ÔøΩ35.2,42
42,638,314,Texas Tech University,United States,33015,20.6,9%,46%,54%,30.8,20.9,46.5,36.2,48.4,34.0,28.3ÔøΩ35.2,43
43,1015,429,"California State University, Long Beach",United States,30595,19.7,4%,58%,42%,23.1,10.1,27.3,35.9,37.3,21.8,10.7ÔøΩ22.1,44
44,1052,438,Texas State University,United States,31893,19.1,1%,58%,42%,17.4,14.3,27.3,36.4,30.4,20.9,10.7ÔøΩ22.1,45

## Viewing the Top Large Schools

After all that work, let's check out the top 10 large universities in the United States:

In [17]:
# Select the top ten large universities in the United States:
df_US_large.head(10)

,index,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking,US_large_rank
0,12,13,"University of California, Berkeley",United States,41081,13.7,17%,50%,50%,83.0,90.6,99.2,46.1,70.4,88.3,88.30,1
1,16,16,"University of California, Los Angeles",United States,41066,9.4,17%,54%,46%,83.1,88.6,97.3,51.3,64.1,86.8,86.80,2
2,20,20,University of Michigan-Ann Arbor,United States,42982,8.3,17%,49%,51%,79.4,86.1,94.9,47.7,59.2,83.8,83.80,3
3,25,25,University of Washington,United States,45692,11.1,16%,53%,47%,72.2,82.2,98.6,47.5,60.4,81.6,81.60,4
4,28,27,New York University,United States,44466,8.9,33%,57%,43%,76.8,77.5,96.5,38.7,65.4,81.1,81.10,5
5,30,29,"University of California, San Diego",United States,33579,13.0,23%,46%,54%,62.6,78.9,97.7,90.3,63.7,78.8,78.80,6
6,39,34,University of Texas at Austin,United States,49165,17.2,10%,52%,48%,68.2,76.2,93.2,46.6,39.1,75.4,75.40,7
7,47,41,University of Illinois at Urbana-Champaign,United States,44916,17.9,24%,47%,53%,63.2,78.0,84.4,47.9,54.3,73.0,72.90,8
8,50,44,University of Wisconsin-Madison,United States,39154,10.0,13%,0%,0%,68.8,70.3,85.3,46.3,47.4,72.0,72.00,9
9,53,47,University of North Carolina at Chapel Hill,United States,35419,9.4,8%,57%,43%,59.7,63.2,96.9,43.9,38.0,69.9,69.90,10

In [18]:
### TEST CASE for Puzzle 2.2: Using the index to store a US_large_rank
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"

assert("US_large_rank" in df_US_large)
assert(df_US_large.loc[0][0] == df_US_large.iloc[0][0])
assert(df_US_large.loc[0]["US_large_rank"] == 1)
print(f"{tada} All Tests Passed! {tada}")

üéâ All Tests Passed! üéâ

/var/folders/ns/z4mk9l_x1_q4v3pm60vk8ns40000gn/T/ipykernel_31080/777173812.py:21: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  assert(df_US_large.loc[0][0] == df_US_large.iloc[0][0])

<hr style="color: #DD3403;">

## Puzzle 3: Creating Random Subsets

Instead of focusing on just a subset of a DataFrame, researchers often need to look at a random sample of a DataFrame.

Returning to the original dataset of nearly 1,400 universities, create one new DataFrame, `df_random_15` , that gives us a random sample of 15 rows in the dataset.

In [19]:
df_random_15 = df.sample(15)
df_random_15

,Score_Rank,University,Country,Number_students,Numb_students_per_Staff,International_Students,Percentage_Female,Percentage_Male,Teaching,Research,Citations,Industry_Income,International_Outlook,Score_Result,Overall_Ranking
602,302,Dublin City University,Ireland,12619,24.0,10%,57%,43%,21.0,25.2,49.7,42.8,71.8,35.2,28.3ÔøΩ35.2
477,261,Indian Institute of Technology Kharagpur,India,9167,12.3,0%,18%,82%,41.3,38.9,39.0,91.9,18.8,39.5,38.8ÔøΩ42.3
255,165,Chalmers University of Technology,Sweden,9209,12.5,17%,32%,68%,36.1,42.1,60.0,74.1,82.9,49.5,46.9ÔøΩ50.0
731,347,Ulster University,United Kingdom,17817,17.1,8%,55%,45%,21.0,18.0,40.9,35.6,75.7,30.5,28.3ÔøΩ35.2
216,143,Hebrew University of Jerusalem,Israel,16137,12.0,5%,56%,44%,48.2,45.1,62.3,41.4,60.3,52.2,50.1ÔøΩ53.7
1108,452,Federal University of CearÔøΩ (UFC),Brazil,34676,17.2,1%,46%,54%,22.4,11.8,20.7,38.6,25.8,19.4,10.7ÔøΩ22.1
271,173,University of Navarra,Spain,10833,13.0,22%,53%,47%,30.4,27.9,80.3,85.5,65.1,48.6,46.9ÔøΩ50.0
1389,529,SÔøΩleyman Demirel University,Turkey,46705,27.5,3%,48%,52%,11.2,8.4,11.5,34.5,17.6,11.5,10.7ÔøΩ22.1
1160,465,Lobachevsky State University of Nizhni Novgorod,Russian Federation,18077,7.9,7%,53%,47%,25.6,11.6,12.4,43.7,28.6,18.1,10.7ÔøΩ22.1
82,67,Sorbonne University,France,43076,13.5,19%,58%,42%,62.3,50.6,79.9,38.4,69.2,64.0,64.00
420,241,University of Nebraska-Lincoln,United States,24610,17.2,11%,48%,52%,30.1,28.0,63.2,38.6,56.7,41.6,38.8ÔøΩ42.3
1087,447,Federal University of SÔøΩo Carlos,Brazil,19134,14.6,2%,49%,51%,26.2,13.4,17.3,41.2,24.5,19.9,10.7ÔøΩ22.1
145,108,University of Exeter,United Kingdom,21451,17.6,28%,54%,46%,33.9,38.9,92.4,37.8,91.9,57.4,57.40
388,227,ÔøΩrebro University,Sweden,9735,18.5,6%,61%,39%,17.6,21.1,88.7,36.0,52.2,43.0,42.4ÔøΩ44.4
1361,516,Voronezh State University,Russian Federation,15246,11.0,10%,58%,42%,21.1,8.7,4.2,35.3,25.9,13.0,10.7ÔøΩ22.1

In [20]:
### TEST CASE for Puzzle 3: Creating random subsets
#
# What is this cell?
# - This cell contains test cases for the MicroProject. Even though you can modify this
#   cell, you should treat it like it's a read-only cell since it will be replaced with
#   a fresh version when your code is checked.
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you believe is
#   actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)

tada = "\N{PARTY POPPER}"

assert('df_random_15' in vars()), "Make sure to name the dataframe df_random_15."
assert(len(df_random_15) == 15), "It looks like you did not sample exactly 15 rows."
assert(len(df_random_15[df_random_15.Country != "United States"]) > 0), "Make sure to sample from the full dataset stored in `df`"
print(f"{tada} All Tests Passed! {tada}")

üéâ All Tests Passed! üéâ

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  ‚ö†Ô∏è **Make certain to save your work.** ‚ö†Ô∏è To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and return to https://discovery.cs.illinois.edu/microproject/world-university-rankings/ and complete the section **"Commit and Grade Your Notebook"**.

3. If you see a 100% grade result on your GitHub Action, you've completed this MicroProject! üéâ